:root {
  --motard-color: #b36f0f;
}
* {
  padding: 0;
  margin: 0;
  font-family: "Figtree", sans-serif;
}
header img {
  height: 80px;
}
header {
  display: flex;
  flex-direction: column-reverse;
  align-items: end;
  padding: 20px;
}
header nav {
  width: 100%;
}
header nav ol {
  display: flex;
  justify-content: center;
  gap: 60px;
  align-items: center;
}
header nav ol li {
  display: block;
}
header nav ol li a {
  text-decoration: none;
  color: black;
  text-transform: capitalize;
}
header button {
  display: flex;
  gap: 5px;
  border: 0;
  padding: 20px;
  align-items: center;
  background: transparent;
  color: inherit;
}
header .btns-header {
  display: flex;
  color: var(--motard-color);
}
header .avis-btn {
  background: var(--motard-color);
  color: white;
  border-radius: 10px;
}

/* ----------------- main ----------------- */
/* --------------- section 1 ------------------ */
#section1 {
  background: url(../img/hero-image.jpeg);
  height: 70vh;
  max-height: 500px;
  background-size: auto;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  align-items: center;
}
#section1 h1 {
  margin-bottom: 80px;
  font-size: 2em; /*1em = 16px*/
}
#section1 div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}
#section1 div ol {
  display: flex;
  gap: 10px;
  margin-left: 10%;
}

#section1 div ol li {
  display: block;
}
#section1 div ol li a {
  text-decoration: none;
  color: white;
}
#section1 button {
  background: transparent;
  color: white;
  font-style: italic;
  margin-right: 5px;
  border: 1px solid white;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

/* ------------------------------ section 2 ------------------------ */

#section2 {
  padding: 60px 25%; /* 40px top, 40px bottom , 25% de la largeur du section 2 => left and right*/
}
#section2 h2 {
  color: var(--motard-color);
  margin-bottom: 40px;
}
#section2 p {
  text-align: justify;
}

/* --------------------------------- section 3 ------------------------ */

#section3 {
  background: rgb(240, 240, 240);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 100px;
  gap: 40px;
}
#section3 h2 {
  color: var(--motard-color);
  font-size: 2em;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

#section3 p {
  text-align: center;
}
#section3 .div-destinations {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

#section3 ul {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
  color: white;
}
#section3 ul li {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 400px;
  width: 20%;
  min-width: 250px;
  padding: 20px;
  gap: 20px;
  background-size: cover;
  background-position-x: center;
}
#section3 ul li .btn-motard {
  display: none;
}
#section3 ul li:hover .btn-motard {
  display: block;
}
#section3 ul li:hover > * {
  /* le display none est active
  seulement aux fils direct du li lorqu on a un hover*/
  display: none;
}
#section3 ul li h3 {
  font-size: 1.5em;
}
#section3 ul li strong {
  font-size: 1.3em;
}
#section3 ul a {
  color: inherit;
}
#section3 .destination-voyage-1 {
  background-image: url(../img/voyage-1.png);
}
#section3 .destination-voyage-1:hover {
  background-image: url(../img/map-voyage-1.png);
}
#section3 .destination-voyage-2 {
  background-image: url(../img/voyage-2.jpeg);
}
#section3 .destination-voyage-2:hover {
  background-image: url(../img/map-voyage-2.png);
}
#section3 .destination-voyage-3 {
  background-image: url(../img/voyage-3.jpeg);
}
#section3 .destination-voyage-3:hover {
  background-image: url(../img/map-voyage-3.png);
}
#section3 .destination-voyage-4 {
  background-image: url(../img/voyage-4.jpeg);
}
#section3 .destination-voyage-4:hover {
  background-image: url(../img/map-voyage-4.png);
}

#section3 .btn-motard {
  border: 0;
  color: white;
  background: var(--motard-color);
  padding: 10px 20px;
  border-radius: 15px;
}
#section3 .div-destinations button:hover {
  color: blue;
}

/* ------------------------footer ------------------- */
footer{
  margin-bottom: 90px;
}
footer .footer-advantages {
  display: flex;
  justify-content: center;
  background: lightgray;
  padding: 3px 0px;
  gap: 3px;
  margin-bottom: 20px;
}
footer .footer-advantages li {
  padding: 40px;
  font-size: 1.5em;
  background: white;
  display: flex;
  gap: 20px;
}
footer .footer-advantages li:first-child,
footer .footer-advantages li:last-child {
  flex: 1;
}
footer .footer-advantages li:first-child {
  justify-content: flex-end;
}
footer .footer-agences {
  margin: 0px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer-agences h3 {
  font-weight: normal;
  margin-bottom: 10px;
}
footer .footer-agences ul {
  display: flex;
  gap: 60px;
}
footer .footer-agences ul li {
  display: block;
}
footer .footer-agences ul li img {
  width: 200px;
}
footer .footer-agences ul.footer-social-media {
  gap: 20px;
}
footer .footer-agences ul.footer-social-media li {
  color: var(--motard-color);
  border: 2px solid var(--motard-color);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footer-agences ul.footer-social-media li a {
  color: inherit;
}
#devis-btn {
  position: fixed;
  bottom: 0;
  background: white;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  box-sizing: border-box;
}

#devis-btn button {
  color: white;
  background-color: var(--motard-color);
  padding: 10px 20px;
  border-radius: 10px;
  border: 0;
}
